:root {
    font-size: 13px;
}

div {
    font-size: 20px;
    padding: 1em; /*相对于该元素字体大小的倍数*/
}

/*相对于根节点字体大小的倍数*/
p {
    border: 1px solid black;
    font-size: 2rem;
    width: 50vw;
    height: 50vh;

}

p::before {
    content: "[" attr(id) "]";
}